{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>My Profile</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%  static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{%  static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{%  static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{%  static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{%  static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{%  static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{%  static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Personal - v2.0.1
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header-tops">
    <div class="container">

      <h1><a href="">Varun krishna</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      <h2>I'm a passionate <span>Software Test Engineer</span> with over 2+ year experience </h2>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#header">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#resume">Resume</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>

  <div class="social-links">
  <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
  <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
  <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
  <a href="#" class="google-plus"><i class="icofont-skype"></i></a>
  <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
</div>


    </div>
  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
f
    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
        <p>Know more about me</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="{%  static 'assets/img/me.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Hello World!</h3>
          <p class="font-italic">
            I am a Software Test Engineer working with over 1+ years of experience working for Hydes software solutions. I help my clients in the testing phase of Software Development Life Cycle, where my focus will be on investigation and discovery of the bugs, defects, quality and making sure that it matches the customer requirements.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Website:</strong> www.example.com</li>
                <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> 8317682779</li>
                <li><i class="icofont-rounded-right"></i> <strong>City:</strong> City : Hyderabad, India</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> B.Tech</li>
                <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> 90.varunkrishna@gmail.com</li>
                <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> Available</li>
              </ul>
            </div>
          </div>
          <p>
            When I'm not working you can find me listing to the dope songs, while browing tech information related to Machine Learning and other latest technologies...and travelling :) 
          </p>
        </div>
      </div>

    </div><!-- End About Me -->


    <!-- ======= Skills  ======= -->
    <div class="skills container">

      <div class="section-title">
        <h2>Skills</h2>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">Manual Testing <i class="val">98%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Automation Testing with Selenium web driver <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">HTML/CSS <i class="val">60%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">Python<i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Django Framework<i class="val">60%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">MS Word/Excel <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

      </div>

    </div>
    <!-- End Skills -->
    <!-- ======= Interests ======= -->

    <!-- End Interests -->


  </section>
  <!-- End About Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Summary</h3>
          <div class="resume-item pb-0">
            <h4>------</h4>
            <p> Served as a key member of software development team as the QA tester on development projects</p>
            <p> Knowledgable, selfdriven and creative Automation Test Engineer skilled at executing inspections during the Software Development Life Cycle, developing new tests and test cases and participating in all facets of project development. Offers great analytical skills, strong attention to detail, and well developed time management abilities.</p>
            <p>
            <ul>
              <li>Developed and executed testing plans to find defects in software and pinpoint workflow issues</li>
              <li>Improved product usability by creating feature enhancement requests, as well as performing systems analysis on existing products where documentation was lacking.</li>
              <li>Maintained a bug log to ensure quick action on highest priority issues</li>
              <li>Created and executed automated software test plans, test cases and test scripts to uncover, identify and document software problems and their causes.</li>
              <li>Performed GUI testing, system testing, functional testing, black box and white box testing.</li>
              <li>Communicated effectively with software design team, quickly gaining their respect and becoming a valued, "go-to"</li>
            </ul>
            </p>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>B.Tech in Computer Science  &amp; Engineering</h4>
            <h5>2007 - 2011</h5>
            <p><em>JNTU, Hyderabad, India</em></p>
            <!-- <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p> -->
          </div>  
        

          <div class="resume-item">
            <h4>View/Download Resume</h4>
        
            <h5><a href="https://drive.google.com/file/d/151gbam9bdMrsgs5Wh0AL9vwohhdVUvIL/view?usp=sharing">Click to view</a></h5>
      
         </p>
           </div> 

        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Software Test Engineer(Mar2019-present)</h4>
            <h5>Client: Docparcer  | May2019-Nov2020</h5>
            <p><em>About the project:</em></p>
            <p>
            <ul>
              <li>Docparser is a data capture solution built for today's modern cloud stack. It helps in extracting the data and move it to where it belongs in real-time</li>
            </ul>
            </p>
            <p><em>Responsibilities:</em></p>
            <p>
            <ul>
              <li>Analyze requirements, develop automation tests using Selenium web driver, and track defects </li>
              <li>Participated in designing performance test scripts using LoadRunner</li>
              <li>Investigate the problems in the software and to define the test strategies</li>
              <li>Communicated with the project management team and QA Lead to resolve defects</li>
              <li>Maintained a bug log to ensure quick action on highest priority issues</li>
            </ul>
            </p>
            <h5>Client: HR automation  | Apr2019-Mar2020</h5>
            <p><em>About the project:</em></p>
            <p>
            <ul>
              <li>This project helps in automating the Recruitment process by sending automated emails to the selected candidates, sending custom messages over SMS and Whatsapp.</li>
            </ul>
            </p>
            <p>
            <ul>
              <li>Worked from POC stage on desktop app automation</li>
              <li>Investigate the problems in the software and to define the test strategies</li>
              <li>Worked on Web application automation using Selenium Webdriver</li>
              <li>Automating regression test cases using Selenium Web-driver</li>
              <li>Documenting and Reporting test result reports, bug reports and observations.</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Team Lead</h4>
            <h5>Aegis pvt ltd | Sept2018-Mar2019</h5>
            <h5>Knoah Solutions pvt ltd | Dec2014-Spet2018 </h5>            
            <p>
            <ul>
              <li>Review and manage individual and team performance</li>
              <li>Mentoring Team– Coach, train, motivate, solve problems and recognize/acknowledge team</li>
              <li>Weekly Performance feedback - One on One Coaching/Development Bay/Recursive Training</li>
              <li>Initiating chat read out sessions by coordinating with QA & Training team to calibrate and discuss variances.</li>
            </ul>
            </p>
          </div>
        </div>
      </div>

    </div>
        <!-- ======= Skills  ======= -->
    <div class="skills container">

      <div class="section-title">
        <h2>Skills</h2>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">Manual Testing <i class="val">98%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Automation Testing with Selenium web driver <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">HTML/CSS <i class="val">60%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">Python<i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Django Framework<i class="val">60%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">MS Word/Excel <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

      </div>

    </div><!-- End Skills -->
  </section><!-- End Resume Section -->



  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Me</p>
      </div>

      <div class="row mt-2">

        <div class="col-md-6 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>My Address</h3>
            <p>A108 Adam Street, New York, NY 535022</p>
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-share-alt"></i>
            <h3>Social Profiles</h3>
            <div class="social-links">
              <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
              <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
              <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
              <a href="#" class="google-plus"><i class="icofont-skype"></i></a>
              <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Email Me</h3>
            <p>90.varunkrishna@gmail.com</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-phone-call"></i>
            <h3>Call Me</h3>
            <p>+91 8317682779</p>
          </div>
        </div>
      </div>

      <form action="." method="post" role="form" class="php-email-form mt-4">
        {% csrf_token %}
        <div class="form-row">
          <div class="col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
            <div class="validate"></div>
          </div>
          <div class="col-md-6 form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
            <div class="validate"></div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
          <div class="validate"></div>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
          <div class="validate"></div>
        </div>
        <div class="mb-3">
         
          <div class="loading">Loading</div> 
        <div class="text-center"><button type="submit">Send Message</button></div>
        <div class="sent-message"></div>
        <div class="error-message"></div>
      </form>

    </div>
  </section><!-- End Contact Section -->

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>